[[source]]
url = "https://mirrors.aliyun.com/pypi/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
django = "*"
ipython = "*"
jupyter = "*"
"py4j" = "*"
django-extensions = "*"
django-nose = "*"

[requires]
python_version = "3.6"
